@model IEnumerable<GadgetHub.Domain.Entities.Gadget>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GadgetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GadgetBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GadgetDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GadgetCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GadgetPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GadgetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GadgetBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GadgetDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GadgetCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GadgetPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GadgetID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GadgetID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GadgetID })
        </td>
    </tr>
}

</table>
