@using GadgetHub.Domain.Entities
@model IEnumerable<Gadget>

@{ 
    ViewBag.Title = "Gadgets";
}

@foreach (var p in Model)
{
    <div>
        <h3>@p.GadgetName</h3>
        @p.GadgetBrand
        @p.GadgetDesc
        @p.GadgetCategory
        <h4>@p.GadgetPrice.ToString("c")</h4>
    </div>
}